@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Common styles for both themes */
  --foreground-rgb: 43, 43, 43;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;
  --content: 245, 245, 245;
  --nav: 255, 255, 255, 0.9;
  --shadow: 43, 43, 43, 0.3;

  --color1: 57, 245, 155;
  --color2: 11, 203, 191;
  --color3: 55, 245, 234;
  --color4: 32, 221, 246;
  --color5: 32, 118, 246;
  --color-interactive: 32, 118, 246;
  --circle-size: 70%;
  --blending: soft-light;
}

.theme-dark {
  /* Dark theme styles */
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 25, 25, 25;
  --background-end-rgb: 28, 28, 28;
  --content: 20, 20, 20;
  --nav: 25, 25, 25, 0.9;
  --shadow: 0, 0, 0, 0.3;
}

html {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav {
  border-color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--nav));
  z-index: 2;
  box-shadow: 1px 1px 4px 0 rgb(var(--shadow));
  min-height: 60px;

  li a {
    padding: 8px;
    border: 1.6px solid transparent;
  }
  li a:hover {
    border-top: 1.6px solid rgb(var(--foreground-rgb));
  }

  .hamburger-icon {
    background-color: rgb(var(--foreground-rgb));
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0.1px;
  background-color: rgb(var(--nav));
  backdrop-filter: blur(9px);
  box-shadow: 1px 1px 4px 0 rgb(var(--shadow));
  pointer-events: none;
  transition: all 0.3s linear;
  overflow: hidden;
}

.open {
  opacity: 1;
  height: 400px;
}

h1 {
  margin: 60px 0;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  width: 100%;
}

.header {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.techstack {
  background-color: rgb(var(--nav));
  width: fit-content;
  padding: 20px;
  margin-left: 40px;
  border-radius: 8px;
}

.project-card {
  height: 500px;

  .project-image {
    background-color: rgb(var(--content));
    box-shadow: 1px 1px 4px 0 rgb(var(--shadow));
    border-radius: 10px;
    height: 80%;
  }
}

.about,
.work {
  background-color: rgb(var(--nav));
  box-shadow: 1px 1px 4px 0 rgb(var(--shadow));
}

.text-container {
  z-index: 100;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  background-color: rgb(var(--background-start-rgb));
  width: 120vw;
  height: 110vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  margin-top: -30px;
  opacity: 0.6;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 90%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
